body {
	margin: 0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
}

h1{
	font-size:36px;
	}
	
.media{
	width:500px;
	height:500px;
	float:right;
	margin:175px 200px 0 0;
	text-align:center;
	}

.sidebar{
	width:600px;
	height:auto;
	padding:30px 0 0 0;
	float:left;
	}

.artikel-wraper{
	width:70%;
	height:570px;
	margin:auto;
	background:#17E0F7;
	padding:30px 0 0 0;
	}
	
.judul{
	width:100%;
	height:50px;
	text-align:center;
	}

.artikel{
	width:95%;
	margin:10px 0 0 10px;
	height:300px;
	text-align:justify
	}

/*--------------------------------------Home------------------------------------*/
#home { 
	background: url(../image/silho.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#home #html{
	background:url(../image/title.png) no-repeat ;
	height:200px;
	width:600px;
	margin:auto;
	}
#home #logo{
	height:200px;
	width:600px;
	margin:auto;
	padding:200px 0 0 500px;;
	}


/*--------------------------------------audio------------------------------------*/
#audio{
	background: url(../image/city.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}
	
.media audio{
	margin:30px 0 0 0;
	}

/*--------------------------------------video------------------------------------*/
#video{
	background: url(../image/green_grass.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}

/*--------------------------------------last------------------------------------*/
#last{
	background:url(../image/city.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}
#thanks{
	margin:300px;
	background:url(../image/thank-you-different-languages.png) no-repeat left bottom;
	}
#wraper-thanks{
	margin:auto;
	padding:300px;
	}
	

