@charset "utf-8";
/* CSS Document */

.box{
	margin:10px 0 10px 0;
	height:200px;
	}
.grid_6 #logo{
	margin:10px 0 10px 0;
	}
	
.box{
	float:right;
	margin:10px 10px 0 0;
	}
	
.box #contact{
	display:block;
	text-align:center;
	font-weight:bold;
	color:#07BCF8;
	font-size:12px;
	}

.box #contact a{
	text-decoration:none;
	font-weight:bold;
	color:#07BCF8;
	}

.box #register{
	background:#48B4EE;
	color:#FFF;
	margin:5px 0 0;
	padding:10px;
	height:auto;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	}
	
.box #register h2{
	display:block;
	text-align:center;
	margin:0 0 5px;
	}

.box #register p{
	display:block;
	margin:0;
	}
	
.box #register a{
	display:block;
	text-align:center;
	margin:5px 0 0 0;
	font-size:18px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background: rgb(255,175,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,175,75,1) 25%, rgba(255,146,10,1) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,175,75,1)), color-stop(51%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
	}
	
.grid_1 a{
	text-decoration:none;
	color:#48B4EE;
	font-weight:bold;
	font-size:12px;
	}

.nontification{
	background: rgb(255,175,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,175,75,1) 25%, rgba(255,146,10,1) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,175,75,1)), color-stop(51%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,175,75,1) 25%,rgba(255,146,10,1) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
	padding: 0 0 0;
	display:block;
	height:30px;
	line-height:30px;
	margin:0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px	 0px 0px;
	
	}
.nontification span{
	margin:0 0 0 10px;
	}
#navigation{
	background: rgb(73,192,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,192,240,1) 24%, rgba(44,175,227,1) 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(73,192,240,1)), color-stop(49%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
	width:100%;
	height:35px;
	margin: auto auto 10px auto;
	}

#navigation ul{
	list-style:none;
	display:block;
	margin:auto;
	width:960px;
	text-align:center;
	}

#navigation li{
	display:inline-block;
	margin:0;
	text-align:center;
	}
#navigation li a{
	display:block;
	height:35px;
	line-height:35px;
	background:none;
	border-right:dotted #FFF;
	width:150px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	}

#navigation li a:hover{
	color:#FFF;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	}

.box2{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 5%, rgba(14,14,14,1) 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(125,126,125,1)), color-stop(94%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 5%,rgba(14,14,14,1) 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(125,126,125,1) 5%,rgba(14,14,14,1) 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(125,126,125,1) 5%,rgba(14,14,14,1) 94%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(125,126,125,1) 5%,rgba(14,14,14,1) 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin:10px 0 0 0;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	}

.list_content{
	padding: 0 0 10px;
	}

#head-notice{
	margin:15px 0 0 10px;
	}
#head-notice h4{
	color:#FFF
	}
#head-notice img{
	float:left;
	margin: 0 10px 0 0;
	}

#notice-list{
	background:#FFF;
	margin:0 auto 10px auto;
	width:96%;
	padding:10px 0 10px 0;;
	}

#notice-list ul{
	list-style:none;
	display:block;
	}

#notice-list li{
	display:block;
	margin:0;
	height:50px;
	line-height:50px;
	border-bottom:solid thin #999;
	}

#notice-list li span{
	margin: 0 20px 0 10px;
	}

#social{
	float:right;
	}

#social img{
	margin:0 0 0 10px;
	}

#more{
	display:block;
	width:60%;
	margin: 0 auto 10px auto;
	height:30px;
	text-align:center;
	text-decoration:none;
	color:#2E88EB;
	background:#FFF;
	font-size:18px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	}

.box3{
	margin:40px 10px 0 5px;
	border:solid thin #0795BE;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	}

.box3 div{
	display:block;
	border-bottom:solid thin #999;
	}
.box3 h3{
	display:block;
	margin:10px 0 10px 10px;
	width:209px;
	float:left;
	font-size:18px;
	}

.box3 span img{
	float:right;
	margin:5px;
	}
	
.box3 p{
	display:block;
	margin:10px 0 0 10px;
	}

#footer{
	margin: 10px 0 0 0;
	width:100%;
	background:#666;
	height:35px;
	}

#address{
	line-height:35px;
	}

#btn-login{
	background:#0A61F1;
	color:#FFF;
	height:25	px;
	width:60px;
	margin:0 0 0 -10px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background: rgb(73,192,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,192,240,1) 24%, rgba(44,175,227,1) 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(73,192,240,1)), color-stop(49%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(73,192,240,1) 24%,rgba(44,175,227,1) 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
	}











