body {
	font-family: "Comic Sans MS", cursive;
	margin: 0px;
}
#page {
	margin: 0px;
	width: 100%;
	height:auto;
}


/*---------------------header----------------*/
#header {
	margin:auto;
	width: 960px;
	height:100px;
	top: 0;
}

#logo{
	width:auto;
	height:auto;
	float:left;
	}

#logo img{
	margin:10px 0 0 10px;
	}
	
#lc{
	float:right;
	margin:30px 0 0;
	width:407px;;
	color:#FFF;
	background:#000;
	padding:5px 0 5px 0;
	}
#lc div {
	float: left;
	margin: 0 10px 0 10px;
}

/*---------------------Navigation----------------*/
#navigation{
	background-color:#EBEBEB;
	width:960px;
	margin:auto;
	height:40px;
	}
#navigation ul{
	list-style:none;
	display:inline-block;

	}
#navigation li{
	text-decoration:none;
	text-align:center;
	border-right-style:solid;
	margin:-3px 0 0 -1px;
	float:left;
	}
#navigation a{
	float:left;
	text-decoration:none;
	color:#000;
	width:120px;
	}	
	
#navigation a:hover{
	color:#59E7FF;
	}
#search{
	float:right;
	padding: 6px 8px 0 0;
	}

/*---------------------content----------------*/
#conntent{
	width:960px;
	margin:auto;
	padding:4px;
	height:700px;
}

/*-------------Sidebar-----------------*/
#sidebar{
	width:270px;
	float:left;
	height:auto;
	}

/*---------Login--------*/

#login{
	width:260px;
	height:auto;
	margin:5px 0 0 5px;
	float:left;
	}
#login h4{
	margin:0;
	text-align:center;
	}
	
#login div{
	border-width:thin;
	border-style:solid;
	text-align:center;
	}
#login table {
	margin-top: 3px;
	border:0;
}
#login table tr td input {
	width: 140px;
}


/*---------category--------*/

#category{
	width:260px;
	height:auto;
	margin:5px 0 0 5px;
	float:left;
	}
#category ul ul li a {
	text-decoration: none;
}

#categorytext {
	border:solid thin;
	text-align:center;
}
#categorytext h4 {
	margin:0;
}
#category ul {
	list-style-type:square;
}
#category ul ul{
	list-style-type:none;
	}
	
/*---------artikel--------*/

.artikel{
	float:right;
	width:680px;
	padding:0 0 0 10px;
	}
.artikel h4{
	margin:7px;
	}

#all{
	float:right;
	margin:-25px 10px 0 ;
	width:200px;
	text-align:center;
	background: #75EEEE;
	color:#FFF;
	}
.artikel p{
	text-align:justify;
	}

/*---------item--------*/
	
.item{
	width:147px;
	height:200px;
	margin: 10px 10px 10px 0;
	float:left;
	border-style:solid;
	border-color:#CCC;
	}
.detail{
	width:60px;
	text-align:center;
	margin:10px 5px 0 0;
	color:#FFF;
	background:#34CAE4;
	float:right;
	}
.tabelitem{
	width:152px;
	border:0;	
	}
.tditem{
	width:81px;
	}
	
/*---------last--------*/

#last{
	width:670px;
	text-align:center;
	}
	
.post{
	border-bottom:dotted thin;
	}

/*---------last--------*/

#navi-botom{
	background:#666;
	width:100%;
	margin:auto;
	height:40px;
	}
#navi-botom ul{
	list-style:none;
	display:inline-block;

	}
#navi-botom li{
	text-decoration:none;
	text-align:center;
	border-right-style:solid;
	margin:-3px 0 0 -1px;
	float:left;
	}
#navi-botom a{
	float:left;
	text-decoration:none;
	color:#000;
	width:120px;
	}	
	
#navi-botom a:hover{
	color:#59E7FF;
	}
#navi-botom div{
	width:960px;
	margin:400px;
	}

#tabellog{
	border:0;
	width:200px;
	text-align:left;
	}
