body{
    margin: 0;
    padding: 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family:Arial, Helvetica, sans-serif;
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 57%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(57%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 57%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 57%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 57%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 57%,#1e69de 100%); /* W3C */

}

.clear{
  clear: both;
}

#container{
    width: 100%;
	height:auto;
}

#out-wraper{
	width:960px;
	margin:auto;
	}

#header{
	width:960px;
	height:100px;
	padding:20px 0 0 0;	
}

h1{
	line-height:0px;
	margin:20px 0 0 0;
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
	}
h5{
	text-align:center;
	margin:50px 0 20px 0;
	}
h4{
	line-height:15px;
	margin:0 0 20px;
	}
#header span{
	font-size:12px;
	line-height:0;
	}
p{
	text-align:justify;
	font-size:12px;
	margin:10px 15px 0 15px;
	}
	
	
/*---------------nav--------------*/

#nav-container{
	width:960px;
	height:45px;
	margin:0 0 40px 0;
	background: #a90329;
	background: -moz-linear-gradient(top,  #a90329 51%, #8f0222 99%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#a90329), color-stop(99%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* W3C */
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: 1px 1px 10px 4px #000000;
	box-shadow: 1px 1px 10px 4px #000000;
		}
		
#navi-out{
	margin:0 auto 0 auto;
	width:530px;
	}

#navmenu {  
  height: 30px;
  display:block;
  padding:0;
  margin:0;
}

#navmenu li {
  float: left;
  position: relative;
  line-height: 30px; 
  list-style:none;
}

#navmenu li a{
	text-decoration:none;
	color:#fff;
	line-height:45px;
	display:block;
	padding: 0 20px 0 20px;
	}

#navmenu li a:hover{
	background: rgb(109,0,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(169,3,41,1) 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(95%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */


	}

#drop {
  opacity: 0;
  position: absolute;
  top: 45px;
  left:-45px;
  width: 150px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

#drop li a { 
  text-decoration:none;
  font-size: 0.8em;
  display:block;
  height:30px;
  margin: 0 0 0 -40px;
  width:175px;
  padding:0 0 0 15px;
  color:#FFF;
  line-height:30px;

}

#navmenu li:hover ul li {
  height: 30px;
  line-height: 30px;
}

#navmenu li ul li a:hover {
background: rgb(109,0,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(169,3,41,1) 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(95%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}


#navmenu li:hover ul { 
	opacity: 1;
	width:150px;
	left:-45px;
	background: #a90329;
	background: -moz-linear-gradient(top,  #a90329 51%, #8f0222 99%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#a90329), color-stop(99%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* W3C */
}

#drop li {
  float: none;
  position: static;
  height: 0;
  line-height: 0;
  background: none;
}

#navmenu li { transition: all 0.1s; }
#navmenu li a { transition: all 0.1s; }
#drop { transition: all 0.5s; }
#drop li { transition: height 0.5s; }
	



/*-------------artikel----------------*/
#sidebar-container{
	width:34%;
	height:auto;
	padding:0;
	margin: 0 0 0 20px;
	float:left;
	}

#article-container{
	width:63%;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	}

article{
	background:#E5E5E5;
	height:auto;
	margin:0 0 20px;
	float:left;
	width:100%;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	}

#textarea{
margin: 2px;	width: 576px;	height: 192px;
	} 
	
article .title-article{
	height:40px;
	width:95%;
	background:#333;	
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	margin:20px 0 0 15px;;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #2b2b2b 0%, #666666 0%, #595959 0%, #474747 3%, #2c2c2c 31%, #111111 66%, #1c1c1c 91%, #000000 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#2b2b2b), color-stop(0%,#666666), color-stop(0%,#595959), color-stop(3%,#474747), color-stop(31%,#2c2c2c), color-stop(66%,#111111), color-stop(91%,#1c1c1c), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	}

.title-article h3{
	display:block;
	margin:0;
	width:250px;;	
	height:30px;
	text-align:center;
	padding:10px 0 0 0;
	color:#FFF;
	}
	
.date{
	height:40px;
	width:75px;
	-webkit-border-radius: 8px 0 0 8ox;
	border-radius: 8px 0 0 8px;
	color:#000;
	float:left;
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 24%, #008a00 100%, #52b152 100%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(24%,#83c783), color-stop(100%,#008a00), color-stop(100%,#52b152), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

	}

.date .years{
	width:40px;
	margin:0 0 0 -10px;
	display: block;
	font-size:14px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	padding:16px 0 0 0;
	float:left;
	}
	
.date .day-moon{
	display:block;
	width:43px;
	float:left;
	text-align:center;
	margin:4px 0 0 0;
	font-size:12px;
	}
	
.no-article{
	display:block;
	float:right;
	height:30px;
	width:60px;
	text-align:center;
	padding:10px 0 0 0;;
	margin:-40px 0 0 0;
	-webkit-border-radius: 8px 8px 8px 8ox;
	border-radius: 8px 8px 8px 8px;
	background:#37DD61;
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 24%, #008a00 100%, #52b152 100%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(24%,#83c783), color-stop(100%,#008a00), color-stop(100%,#52b152), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 24%,#008a00 100%,#52b152 100%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

	}
	
.footer-article{
	margin:30px auto 20px auto;
	width:95%;
	height:auto;
	font-size:12px;
	}

.writer{
	width:60%;
	display:block;
	margin:0 0 5px 0;
	}
.tags{
	display:block;
	width:210px;
	height:20px;
	padding:5px 0 0 0;
	}

.tags a{
	float:right;
	display:block;
	width:auto;
	margin:-5px 12px 0 0;
	text-decoration:none;
	color:#000;
	height:20px;
	padding:5px 0 0 0;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	}
.tags a:hover{
	background:#E40E1E;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color:#fff;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	}

.continue-reading{
	float:right;
	display:block;
	width:170px;
	text-align:center;
	height:27px;
	text-decoration:none;
	color:#FFF;
	padding:10px 0 0 0;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	background: #a90329;
	background: -moz-linear-gradient(top,  #a90329 51%, #8f0222 99%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#a90329), color-stop(99%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 51%,#8f0222 99%,#6d0019 100%); /* W3C */
	}

.continue-reading span{
	width:20px;
	height:37px;
	display:block;
	background:#000;
	float:left;
	margin:-10px 0 0 0;
	-webkit-border-radius: 0px 7px 7px 0px;
	border-radius: 0px 7px 7px 0px;
	background-color:#E5E5E5;
	left:1000px;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
	}

.continue-reading:hover{
	background: rgb(109,0,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(169,3,41,1) 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(95%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
	
	}

.continue-reading:hover span{
	padding:0 0 0 5px;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
	
	}


	
		
/*-------------box----------------*/

.box{
	width:300px;
	background:#E5E5E5;
	float:right;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	margin: 0 0 0 10px;
	padding:0 0 10px;s
	}

.sub-box{
	margin:15px 0 0 16px;
	width:90%;
	}

.title-box{
	height:20px;
	width:95%;	
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	color:#FFF;
	padding:10px 0 0 15px;
	margin: 0 0 10px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #2b2b2b 0%, #666666 0%, #595959 0%, #474747 3%, #2c2c2c 31%, #111111 66%, #1c1c1c 91%, #000000 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#2b2b2b), color-stop(0%,#666666), color-stop(0%,#595959), color-stop(3%,#474747), color-stop(31%,#2c2c2c), color-stop(66%,#111111), color-stop(91%,#1c1c1c), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#2b2b2b 0%,#666666 0%,#595959 0%,#474747 3%,#2c2c2c 31%,#111111 66%,#1c1c1c 91%,#000000 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	}
	
	
.social{
	margin:10px 0 0;
	width:100%;
	height:30px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background:#333;
	
	}
.social span{
	height:25px;
	width:70px;
	display:block;
	float:left;
	text-align:center;
	padding:5px 0 0 0;
	margin: 0 10px 0 0;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FF00D9),
	color-stop(1, #C900A8));
	background-image: -o-linear-gradient(bottom, #FF00D9 0%, #C900A8 100%);
	background-image: -moz-linear-gradient(bottom, #FF00D9 0%, #C900A8 100%);
	background-image: -webkit-linear-gradient(bottom, #FF00D9 0%, #C900A8 100%);
	background-image: -ms-linear-gradient(bottom, #FF00D9 0%, #C900A8 100%);
	background-image: linear-gradient(to bottom, #FF00D9 0%, #C900A8 100%);
	}
	
	
.social a{
	width:70px;
	line-height:30px;
	text-decoration:none;
	color:#FFF;
	}
	
.social a:hover{
	color:#03F;
	text-decoration:underline;
	}
	

.sub-box ul{
	list-style:none;
	display:inline-block;
	margin:0;
	}
.sub-box ul li{
	height:25px;
	width:256px;
	margin:0 0 0 -40px;
	border-bottom:solid thin #000;
	}
	
.sub-box ul li a{
	text-decoration:none;
	color:#000;
	display:block;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
	}
	
.sub-box ul li a:hover{
	padding: 0 0 0 5px;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
	}

.balon-kata {
	margin:10px auto 0 auto;
    background:black;
    position:relative;
	width:250px;
    padding:15px;
    color:white;
    font:normal 16px Calibri,Arial,Sans-Serif;
    height:30px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	text-align:center;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
 }

.balon-kata.bottom:after {
  content:"";
  width:0px;
  height:px;
  position:absolute;
  top:100%;
  left:5px;
  border-width:18px;
  border-style:solid;
  border-color:black transparent transparent transparent;
  display:block;
  -webkit-transform:skew(-50deg, 0deg);
  -moz-transform:skew(-50deg, 0deg);
  -ms-transform:skew(-50deg, 0deg);
  -o-transform:skew(-50deg, 0deg);
  transform:skew(-50deg, 0deg);
  display:block;
}

#wgs{
	display:block;
	margin:30px auto 0 auto;
	width:90%;
	}
.balon-kata:hover{
	padding:20px;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
	transition: padding 0.1s linear;
	}



/*----------------------footer----------------------------*/

#footer{
	width:950;
	height:auto;
	margin:10px 0 0 0;
	padding: 0 20px 0 0 ;
	}
	
.recent-comment{
	height:auto;
	border-bottom:solid thin #000;
	font-size:12px;
	margin:5px 0 0 0;
	}
.recent-comment span{
	display:block;
	margin:10px auto 0 auto;
	width:95%;
	font-size:12px;
	text-align:right;
	}

.recent-comment a{
	text-decoration:none;
	color:#000;
	}
.recent-comment a:hover{
	text-decoration:underline
	}

