@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}

.box{
	margin-bottom:20px;
	}
	
.grid_12 img{
	height:100px;
	width:120px;
	margin:15px;
	float:left;
	}

#nav-container{
	font-size:24px;
	font-weight:bold;
	width:450px;
	float:right;
	margin:50px 0 0 ;
	}

#nav-container a{
	text-decoration:none;
	color:#000;
	width:90px;
	display:inline-block;
	text-align:center;
	}

#nav-container a:hover{
	text-decoration:none;
	color:#fff;
	background-color:#000;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	}
	

#content-1{
	width:620px;
	height:auto;
	float:left;
	}

#list{
	display:block;
	margin:5px 0 0 0;
	text-transform:uppercase;
	height:30px;
	margin: 5px 0 0 30px;
	border-bottom:solid thin #999;
	}
	
.news{
	margin: 0 0 0 15px;
	padding: 0 0 0 15px;
	}
.news h2{
	display:block;
	margin:0;
	padding:10px 0 0;
	}
.news h3{
	display:block;
	margin:0;
	padding:10px 0 0;
	}

.news .date-headline{
	display:block;
	background:#FFF;
	text-align:left;
	padding:0;
	height:auto;
	}
.news .date-list{
	display:block;
	background:#FFF;
	text-align:left;
	padding:0;
	height:auto;
	font-size:14px
	}

.news p{
	font-size:12px;
	margin:0;
	display:block;
	margin:10px 0 0;
	}

#body-article{
	width:95%;
	margin:auto;
	padding:15px 0 0;
	}

.news img{
	height:80px;
	width:100px;
	float:left;
	margin: 0 7px 0 15px;
	padding:15px 0 0;
	}


.news span{
	display:block;
	height:35px;
	background:#000;
	margin:5px 0 0 0;
	text-align:right;
	padding:0 10px 0;
	}

.news span a{
	line-height:35px;
	font-size:13px;
	text-decoration:none;
	color:#FFF;
	}



#banner{
	width:100%;
	height:150px;
	}
#list-event{
	display:block;
	margin:5px 0 0 0;
	height:25px;
	}
.event{
	padding:5px;
	height:auto;
	width:100%;
	border-top:solid thin #999;
	}
.event .img-event{
	width:80px;
	height:80px;
	float:left;
	padding:0 5px 0 0;
	}

.event h3{
	margin:0;
	}

.event span{
	font-size:12px;
	}
.event p{
	display:block;
	margin:0;
	}

.event span{
	display:block;
	text-align:right;
	}
.event span a{
	text-decoration:none;
	color:#999;
	}

#footer{
	width:100%;
	margin:10px 10px 0 20px;
	border-top:solid thin #999;
	}
#footer #copyright{
	width:auto;
	display:block;
	height:30px;
	padding:5px 0 0 0;
	float:left;
	}

#footer #nav-bottom{
	width:auto;
	display:block;
	height:30px;
	padding:5px 0 0 0;
	float:right;
	margin: 0 10px 0 0;
	
	}

#footer #nav-bottom a{
	text-decoration:none;
	color:#000;
	}








